@model CollegeManagement.MVC.Models.SystemMessage

<div id="SystmeMessageAnchoer" class="ask-dialog  @(Model.success ? "success" : "failure") ">
    <i class="fa"></i>
    <span>
        @Model.MessageText
    </span>
</div>